<section class="container-md contato">
    <h2 class="title text-center">
        Contato
    </h2>
    <div class="container Contato">
        <div class="row">
            <div class="col">
                <div>
                    <a href="https://github.com/geovanefi" target="_blank">
                    <img src="/public/github.png" class="img align-items-center" alt="Github" ></a>
                    <p>GitHub</p>
                    
                </div>

                <div>
                    <a href="https://www.instagram.com/queendevelopers" target="_blank">
                    <img src="/public/instagram.png" class="img align-items-center" alt="Instagram"></a>
                    <p>Instagram</p>
                    
                </div>
                <div>

                    <a href="https://www.webwhatsapp.com" target="_blank"></a>
                    <img src="/public/whatsapp.png" class="img align-items-center" alt="Whatsapp"></a>
                    <p>Whatsapp</p>
                    
                </div>
            </div>
            <div class="col">
                <img src="/public/qpaus.png" class="figure-img img-fluid rounded" >
            </div>
            
        </div>
    </div>
</section>