<header class="sticky-top shadow p-3 mb-5 bg-body rounded">
    <div class="container-md">
        <div class="row">
          <div class="col">
            <img src="/public/qpaus.png" class="img-100-100" alt="Logo">
          </div>
          <div class="col ">
            <ul class="nav align-items-center justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Mensagem</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contato</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
</header>