<section class="container-md sobre">
    <div class="container-md">
        <H1 class="title text-center">
            &clubs;QUEEN DEVELOPERS
        </H1>
    </div>
    <div class="container-md">
        <h2 class=" title text-center">
            Sobre
        </h2>
        <div class="row text-align-justify">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nihil delectus minus velit corrupti in quasi dignissimos voluptas doloribus accusamus beatae ipsa laudantium, et expedita pariatur voluptatum facere? Ducimus, beatae?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, hic quam atque perspiciatis quod eos necessitatibus optio commodi blanditiis, maxime maiores amet quasi quo impedit distinctio et molestiae delectus totam.</p>
        </div>
    </div>
    <div class="container-md">
        <div class="row align-items-start">
            <div class="text-center">
                <h2 class=" title text-center">Como?</h2>
            </div>
            <div class="col">
                <h3>Coletivo</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat quas ullam pariatur quod laboriosam incidunt, eos accusantium molestias nihil praesentium quam explicabo? Similique aliquid accusamus nisi deserunt? Dignissimos, hic maxime.</p>
            </div>
            <div class="col">
                <h3>objetivo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non quasi perspiciatis voluptas eveniet, mollitia fuga delectus cum alias omnis, praesentium consequuntur optio, nam explicabo blanditiis aliquam magni est earum.</p>
            </div>
            <div class="col">
                <h3>Retorno</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, maiores assumenda accusamus id facilis possimus placeat autem itaque error est obcaecati natus rem animi quos ad dolore necessitatibus. Nesciunt, iste?</p>
            </div>
        </div>
    </div>
</section>